fastapi
uvicorn
sqlmodel
python-multipart
openai
python-dotenv
aiofiles
requests
passlib[bcrypt]
python-jose[cryptography]
email-validator
psycopg2-binary
bcrypt
argon2-cffi
aiohttp
yandexcloud
grpcio
grpcio-tools
websockets

alembic
